epidemic_timeseries/outputs/
*.out
*.pyc
*/.Rhistory
*/.RData
*/figures/
shifts/figures_renewal
shifts/figures_2
shifts/SEIR_outputs.csv
shifts/serial_interval.csv
epidemic_timeseries/data/Global_Mobility_Report.csv


